.footer {
  display: flex;
  margin: 0 auto;
  width: 60%;
}

.social-icons {
  /* background-color: #333; */
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.social-icons li {
  margin: auto 10px;
}

.social-icons a {
  color: #13333d;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #e8735b;
}
